 <!-- Navigation -->
 <nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">QuickExam/a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <a href="{% url 'index' %}">Chapitre</a>                   
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
        <!-- /.container -->
    </nav>
    <div class="container">
        <div class="col-lg-12 detail-separator">
          <form class="col-md-6 col-md-offset-3 text-center" action="{% url 'index' %}" method="get" accept-charset="utf-8">
            <div class="form-group">
              <label for="searchForm">Rechercher un element</label>
              <input id="searchForm" class="form-control" name="query">
            </div>
            <ul class="nav navbar-nav">
              <a href="{% url 'create_chap' %}"> Ajouter </a>
                <a href="{% url 'form_del_chap' %}"> Supprimer </a>    
                  <a href="{% url 'index' %}"> Modifier </a>                                     
          </ul>
          </form>
          
        </div>
      </div>