{% extends 'base.html' %} {% block content %}

<form action="{% url 'confirm' as_id %}" method="post">
    {% csrf_token %}
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            <b>{{ assc.assign.prof.dept }}</b></div>
        <div class="card-body">
            <label class="col-lg-2 col-form-label form-control-label">journee du </label>
            <div class="col-lg-2">
                <input class="form-control" name="jdc" type="date" required>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Login</th>
                            <th>Nom des etudiant</th>
                            <th> Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for att in assc %}
                        <tr>
                            <td>{{att.etudiant.user}}</td>
                            <td>{{att.etudiant.nom}}</td>
                            <td>{{att.date}}</td>
                            <td>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    {% if att.status %}
                                    <label class="btn btn-outline-success active">
                                    <input type="radio" name="{{ att.etudiant.id }}" id="option1" autocomplete="off" value="present" checked> 
                                    Present
                                    </label>
                                    <label class="btn btn-outline-danger">
                                    <input type="radio" name="{{ att.etudiant.id }}" id="option2" autocomplete="off" value="absent"> Absent
                                    </label> {% else %}
                                    <label class="btn btn-outline-success">
                                    <input type="radio" name="{{ att.etudiant.id }}" id="option1" autocomplete="off" value="True" > Present
                                </label>
                                    <label class="btn btn-outline-danger active">
                                    <input type="radio" name="{{ att.etudiant.id }}" id="option2" autocomplete="off" value="False" checked> Absent
                                </label> {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Submit">
</form>
{% endblock %}