{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row text-center justify-content-center">
        <div class="row justify-content-center">
            <div class="">
                <span class="anchor" id="formUserEdit"></span>
                <hr class="my-5">
                <div class="card card-outline-secondary" style="min-width: 600px;">
                    <div class="card-header">
                        <h3 class="mb-0">Ajouter une Question</h3>
                    </div>
                    <div class="card-body">
                        <form class="form" role="form" method="POST" action="{% url 'add_question' partie_id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Intitule</label>
                                <div class="col-lg-9">
                                    <textarea class="form-control" name="intitule" type="textarea" cols="30" rows="10" required>
                                    </textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Image</label>
                                <div class="col-lg-9">
                                    <input class="form-control" type="file" name="image" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Type de question</label>
                                <div class="col-lg-9">
                                    <select name="type_question" class="form-control" required>
                                        <option value="QCM">QCM</option>
                                        <option value="QRO">QRO</option>
                                        <option value="Question_trou">Question a trou</option>
                                        <option value="VRAI/FAUX">VRAI/FAUX</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Niveau de la question</label>
                                <div class="col-lg-9">
                                    <select name="level_question" class="form-control" required>
                                        <option value="facile">Facile</option>
                                        <option value="moyen">Moyen</option>
                                        <option value="difficile">Difficile</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row justify-content-left">
                                <div class="ml-auto mr-3">
                                    <a class="btn btn-danger" href="{% url 'chapitre' %}"> Cancel </a>
                                    <input class="btn btn-secondary ml-auto" type="reset" value="Reset">
                                    <input class="btn btn-primary ml-auto" type="submit" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}