<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercice</title>
    <link rel="stylesheet" href="/home/leonel/Bureau/quick/src/static/css/mdb.min.css" />
    <link href="/home/leonel/Bureau/quick/src/static/info/homepage/css/heroic-features.css" rel="stylesheet">
    <link href="/home/leonel/Bureau/quick/src/static/info/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">


</head>
<br><br><br><br>
<nav>
    <ul>
        <li>

        </li>
    </ul>

</nav>



</header>

<body>
    {{exo.contenue}}

</body>

</html>